@font-face {
  font-family: "Brandon";
  src: url("/fonts/Brandon_reg.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Brandon";
  src: url("/fonts/Brandon_blk.otf");
  font-weight: bold;
  font-style: bold;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Brandon, Nunito, sans-serif;
}

:root {
  --clr-theme-primary: rgb(68, 122, 244);
  --clr-theme-muted: #575759;
  --clr-theme-white: #f6f9ff;
  --clr-theme-black: #192239;
  --clr-text-sm: 1rem;
  --clr-text-base: 1.25rem;
  --clr-text-lg: 4rem;
  --radius: 2em;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  line-height: 1.5;
}
